<center>
<div class="main-content" style="width: 50%;">
    <center>
       <div class="content1">
        <div class="button"><a href="/register">Signup</a></div><br><br>
        <div class="button"><a href="/login">Login</a></div><br>
        <div class="intro">
            <p style="font-size: 30px;color:rgb(73, 127, 175);">Personalize Planner</p><br>
            <img src="/img/logo.png" alt="" height="80px" width="80px">
            <p style="color: rgb(15, 19, 8);">"Manage your Precius Time with us"</p>
        </div>
       </div></center>
   </div> 
</center>